@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.actionSection{
    margin: 0 10px;
    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid #d9d9d9;
}

.actionSection:hover{
    box-shadow: 0 0 3px #02b1d9;
}

.actionSection>div{
    padding: 6px 3px;

    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    text-align: left;
    color: #000000;
}

.actionSection>div#number{
    flex-basis: 1%;
}

.actionSection>div#name{
    flex-basis: 60%;
    max-width: 60%;
}

.actionSection>div#status, .actionSection>div#actions{
    flex-basis: 20%;
}

.actionSection>div#status .select{
    width: 150px;
}

.actionSection>div#actions{
    text-align: right;
}

@media screen and (max-width: 480px){
    .actionSection{
        flex-wrap: wrap;
    }

    .actionSection>div#name{
        flex-basis: 90%;
        max-width: 90%;
    }
}