@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.todo{
    width: 60vw;
    min-height: 75vh;

    margin: 50px auto;

    display: flex;
    justify-content: space-between;
    flex-direction: column;

    background-color: #ffffff;
}

.todo .filter{
    display: flex;
    justify-content: center; 
}

.todo .filter p{
    margin: 5px 2px;
    margin-bottom: 0px;
    padding: 2px 5px;

    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.todo .filter p:hover{
    box-shadow: 0 0 3px #02b1d9;
    cursor: pointer;
}

.todo h2{
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    text-align: center;
}

.todo .inputs{
   display: flex;
   justify-content: space-around;
   
   padding: 0 10px;
   padding-bottom: 10px;
}

.todo .inputs .addButton{
    margin-left: 10px;
}

.todo .data{
    min-height: 55vh;
}

@media screen and (max-width: 480px){
    .todo{
        width: 85vw;
    }
}