@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.head{
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #ffffff;
    color: #000000;
}

.head .title{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
}