@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


.footer{
    padding: 2px;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
}

@media screen and (max-width: 320px){
    .footer{
        font-size: 10px;
    }
}